<div class="container pull-left">
        <div class="p-4 mb-4 w-100">
              {{#each quizzes}}
                <div class="card p-2">
                    <div class="d-flex justify-content-start">
                          <form action="/editQuiz" method="POST">
                            <input type="hidden" name="quizId" value="{{this.id}}">                            
                            <button type="submit" class="btn btn-outline-warning w-100">Edit</button>
                          </form>  
                          <div class="ml-3 d-flex justify-content-between w-100">
                            <h5>{{this.quiz_name}}</h5>
                            <h5>Quiz ID: {{this.id}}</h5>
                          </div>                                        
                    </div>
                </div>
              {{/each}}
        </div>

</div> <!-- container -->
<script src="/assets/js/viewQuizzes.js"></script>