<div class="container pull-left">
        <div class="p-4 mb-4 w-100">
              {{#each quizzes}}
                <div class="card p-2">
                    <div class="d-flex justify-content-start">
                          <form action="/editQuiz" method="POST">
                            <input type="hidden" name="pageName" value="editQuestions">
                            <input type="hidden" name="quizId" value="{{this.dataValues.id}}">
                            <button type="submit" class="btn btn-outline-primary w-100">Edit</button>
                          </form>  
                          <div class="ml-3">
                            <h4>{{this.dataValues.quiz_name}}</h4>
                          </div>                                        
                    </div>
                </div>
              {{/each}}
        </div>

</div> <!-- container -->
<script src="/assets/js/viewQuizzes.js"></script>