<div class="jumbotron mt-4 bg-info">
  <div class="d-flex justify-content-center align-items-center">
    <img class="logo" src = "/assets/img/quatro_logo.png">
  </div>
  <p class="lead text-center">You've got questions, you've got answers</p>
  <hr class="my-4">
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-static-top">
    <!-- <a class="navbar-brand" href="/">Home</a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <div class="d-flex justify-content-start align-items-center">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/">Home<!-- <span class="sr-only">(current)</span> --></a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="/survey">Take A Survey</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/quiz">Take A Quiz</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/apiInfo">API Information</a>
          </li>
          <li class="nav-item">
            <a class="nav-link  disabled active" href="/about">About</a>
          </li>
          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li> -->       
          <!-- <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li> -->
        </ul>
      </div>
      
    </div>
  </nav>    
</div>

<div class="container">
  <div class="well">
    <h1 class="text-center">Meet the contributing Members</h1>
    <div class="d-inline-flex">
      <div class="panel bg-info text-white w-25">
          <div class="panel-heading">
            <img class="panel-image profilepic" src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAqPAAAAJDdiMjVkOWI0LTExYmItNGNjZS1iMzMyLWRhNjg5MTRiNDE2ZA.jpg">
            <div class="panel-title"><h2>Jesse Forte</h2></div>
            <i class="fa fa-github fa-2x p-2 mr-2" aria-hidden="true">yosoyjessefuerte</i>            
          </div>
          <div class="panel-body">
            Web Developer, Front End
          </div>
      </div>

      <div class="panel bg-white text-info w-25">
          <div class="panel-heading">
            <img class="panel-image profilepic" src="https://wwcdn.weddingwire.com/wedding/6280001_6285000/6283742/thumbnails/1200x1200_1490592403-6e416a552c30f541-IMG_0542.jpg">        
            <div class="panel-title"><h2>Cumorah Masters</h2></div>
            <i class="fa fa-github fa-2x p-2 mr-2" aria-hidden="true">cmasters22</i>
          </div>
          <div class="panel-body">
            Web Developer, Front End
          </div>
      </div>
      <div class="panel bg-info text-white w-25">
          <div class="panel-heading">
            <img class="panel-image profilepic" src="https://thumb1.shutterstock.com/thumb_large/2327279/450966898/stock-vector-male-profile-picture-placeholder-vector-illustration-design-social-profile-template-avatar-450966898.jpg">        
            <div class="panel-title"><h2>Ben Rodriguez</h2></div>
            <i class="fa fa-github fa-2x p-2 mr-2" aria-hidden="true">bimatn</i>                        
          </div>
          <div class="panel-body">
            Web Developer, Back End
          </div>
      </div>

      <div class="panel bg-white text-info w-25">
          <div class="panel-heading">
            <img class="panel-image profilepic" src="http://kuieugenio.com/assets/images/bio_image.jpg">        
            <div class="panel-title"><h2>Kui Eugenio</h2></div>
            <i class="fa fa-github fa-2x p-2 mr-2" aria-hidden="true">keugenio</i>            
          </div>
          <div class="panel-body">
            Web Developer, Back End
          </div>
      </div>      
  </div>
</div> <!-- container -->