<div class="jumbotron mt-4 bg-info">
  <div class="d-flex justify-content-center align-items-center">
    <img class="logo" src = "/assets/img/quatro_logo.png">
  </div>
  <p class="lead text-center">You've Got Questions... And You've Got Answers</p>
  <hr class="my-4">
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-static-top">
    <!-- <a class="navbar-brand" href="/">Home</a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <div class="d-flex justify-content-start align-items-center">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/">Home<!-- <span class="sr-only">(current)</span> --></a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="/survey">Take A Survey</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/quiz">Take A Quiz</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/apiInfo">API Information</a>
          </li>
          <li class="nav-item">
            <a class="nav-link  disabled active">About</a>
          </li>
          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li> -->       
          <!-- <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li> -->
        </ul>
      </div>
      
    </div>
  </nav>    
</div>

<div class="container">
  <div class="card d-flex text-center p-4">
    <h2 class="card-title">Meet the Qu4tro team!</h2>
    <div class="card-block d-inline-flex">

<div class="card mx-1 text-info" style="width: 20rem;">
  <img class="card-img-top" src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAqPAAAAJDdiMjVkOWI0LTExYmItNGNjZS1iMzMyLWRhNjg5MTRiNDE2ZA.jpg">
  <div class="card-block">
    <h4 class="card-title">Jesse Forte</h4> 
    <p class="card-text">Web Developer, Front End</p>
    <a href="https://www.linkedin.com/in/jesse-forte-00291437/" class="btn btn-warning mb-4 text-white">
      <i class="fa fa-linkedin fa-2x" aria-hidden="true"></i>
    </a>
    <a href="https://github.com/IntelIris8" class="btn btn-warning mb-4 text-white">
      <i class="fa fa-github fa-2x aboutGithub" aria-hidden="true" data="IntelIris8"></i> 
    </a>            
  </div>
</div>

<div class="card bg-info text-white mx-1" style="width: 20rem;">
  <div class="card-block">
    <h4 class="card-title">Cumorah Masters</h4>    
    <p class="card-text">Web Developer, Front End</p>
    <a href="https://www.linkedin.com/in/cumorah-masters-9b0284101/" class="btn btn-warning mb-4 text-white">
      <i class="fa fa-linkedin fa-2x" aria-hidden="true"></i>
    </a>
    <a href="https://github.com/cmasters22" class="btn btn-warning mb-4 text-white">
      <i class="fa fa-github fa-2x aboutGithub" aria-hidden="true" data="cmasters22"></i> 
    </a>
  </div>
  <img class="card-img-top" src="https://wwcdn.weddingwire.com/wedding/6280001_6285000/6283742/thumbnails/1200x1200_1490592403-6e416a552c30f541-IMG_0542.jpg">   
</div>

<div class="card text-info mx-1" style="width: 20rem;">
  <img class="card-img-top" src="https://media-exp2.licdn.com/media/p/7/005/018/28b/0bfb1e4.jpg">  
  <div class="card-block">
    <h4 class="card-title">Ben Rodriguez</h4>
    <p class="card-text">Web Developer, Back End</p>
    <a href="https://www.linkedin.com/in/benjamin-rodriguez/" class="btn btn-warning mb-4 text-white">
      <i class="fa fa-linkedin fa-2x" aria-hidden="true"></i>
    </a>
    <a href="https://github.com/bimatn" class="btn btn-warning mb-4 text-white">
      <i class="fa fa-github fa-2x aboutGithub" aria-hidden="true" data="bimatn"></i> 
    </a>    
  </div>
</div>

<div class="card bg-info text-white mx-1" style="width: 20rem;">
  <div class="card-block">
    <h4 class="card-title">Kui Eugenio</h4>
      
    <p class="card-text">Web Developer, Back End</p>
    <a href="https://www.linkedin.com/in/kui-eugenio/" class="btn btn-warning mb-4 text-white">
      <i class="fa fa-linkedin fa-2x" aria-hidden="true"></i>
    </a>
    <a href="https://github.com/keugenio" class="btn btn-warning mb-4 text-white">
      <i class="fa fa-github fa-2x aboutGithub" aria-hidden="true" data="keugenio"></i> 
    </a>    
  </div>
  <img class="card-img-top" src="https://media-exp2.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAqmAAAAJDVkYjRmZmMzLWJjNWEtNGM5ZC05OTQzLTg2ZmQ4MmY0MTE3ZQ.jpg">   
</div>

    </div> <!-- main card block -->
  </div> <!-- main card -->
</div> <!-- container -->