<div class="jumbotron mt-4 bg-info">
  <div class="d-flex justify-content-center align-items-center">
    <img class="logo" src = "/assets/img/quatro_logo.png">
  </div>
  <p class="lead text-center">You've Got Questions... And You've Got Answers</p>
  <hr class="my-4">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- <a class="navbar-brand" href="/">Home</a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/cms">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/quiz">Take A Quiz</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/survey">Take A Survey</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/apiInfo">API Information</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" data-userid={{userId}} data-username={{userName}} aria-haspopup="true" aria-expanded="false">Welcome, {{userName}}</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/">Sign Out</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/cantDoThatHaHa">Un-Register</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</div>
<div class="container">
  <div class="row">
    <div class="col-4 mx-auto">
      <a class="d-flex justify-content-center" href="/createQuizzes"><button type="button" class="btn-lg btn-info w-75">Create A Quiz</button></a>
    </div>
    <div class="col-4 mx-auto">
      <a class="d-flex justify-content-center" id="view" href="" ><button type="button" class="btn-lg btn-info w-75">View Quizzes</button></a>
    </div>
    <div class="col-4 mx-auto">
      <a class="d-flex justify-content-center" id="review" href="#"><button type="button" class="btn-lg btn-info w-75">Analyze Results</button></a>
    </div>
  </div>
</div> <!-- container -->
<script src="/assets/js/cms.js"></script>