<div class="jumbotron mt-4 bg-info">
  <div class="d-flex justify-content-center align-items-center">
    <img class="logo" src = "/assets/img/quatro_logo.png">
  </div>
  <p class="lead text-center">You've got questions, you've got answers</p>
  <hr class="my-4">
  <nav class="navbar navbar-toggleable-md navbar-light" style="background-color: #e3f2fd;">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Create Quiz</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">My Quizzes</a>
        </li>  
        <li class="nav-item">
          <a class="nav-link" href="apiInfo">API information</a>
        </li>          
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
</div>

<div class="container">
    <h1 class="text-center"></h1>
    <div class="row">
      Qu4tro CMS Page
    </div>

</div> <!-- container -->