<div class="jumbotron mt-4 bg-info">
  <div class="d-flex justify-content-center align-items-center">
    <img class="logo" src = "/assets/img/quatro_logo.png">
  </div>
  <p class="lead text-center">You've got questions, you've got answers</p>
  <hr class="my-4">
</div>

<div class="container">
    <h1 class="text-center"></h1>
    <div class="row">
      <div class="col-md-6 col-lg-6" style="border-right: solid;" >
        <div class="text-center"><h5>Create Quizzes<h5></div>
        <form>
          <div class="form-group">
            
            <div class="d-flex">
              <label for="email"><i class="fa fa-envelope fa-2x mr-2" aria-hidden="true"></i></label>              
              <input type="email" class="form-control" id="email">
              
            </div>
          </div>
          <div class="form-group">
            <div class="d-flex">
              <label for="pwd"><i class="fa fa-key fa-2x mr-2" aria-hidden="true"></i></label>
              <div class="d-flex">
                <input type="password" class="form-control" id="pwd">
            </div>
          </div>
          </div>
              <div class="checkbox">
                <label><input type="checkbox"> Remember me</label>
              </div>
              <div class="text-center">
                <i class="fa fa-sign-in btn fa-2x" type="submit" aria-hidden="true" id="btn_login"></i>  
              </div>     
        </form>

      </div>
      <div class="col-md-6 col-lg-6">
        <div class="text-center"><h5>Take Quizzes</h5></div>
        <form>
          <div class="form-group">
            <label for="quizID">Quiz ID:</label>
            <div class="d-flex">
              <input type="text" class="form-control" id="quizID">
              
            </div>
            <div class="text-center mt-4">
              <i class="fa fa-pencil-square-o btn fa-2x" aria-hidden="true" type="submit"></i>
            </div>
          </div>
        </form>        
      </div>

</div> <!-- container -->



</div>
