<div class="jumbotron mt-4 bg-info">
  <div class="d-flex justify-content-center align-items-center">
    <img class="logo" src = "/assets/img/quatro_logo.png">
  </div>
  <p class="lead text-center">You've got questions, you've got answers</p>
  <hr class="my-4">
</div>

<div class="container">
    <h1 class="text-center"></h1>
    <div class="row">
      take your quiz here
      <ul>
        <li>{{question}}</li>
      <ul>
    </div>

</div> <!-- container -->



</div>
