li {
  padding: 5px;
  margin: 5px;
}
.label {
  font-weight: bold;
}
.create-update-form {
  padding: 5px;
  margin: 5px;
}
.form-group {
  margin-bottom: 5px;
}

button:hover, .btn:hover{
	cursor: pointer;
}

#btn_add, .btn_delete, #btn_editImage, #btn_addUser, .btn_login{
	cursor: pointer;
	color: #5bc0de;
}
#btn_add:hover, .btn_delete:hover, #btn_editImage:hover, #btn_addUser:hover, .btn_login:hover{
	color: #428bca;	
}
.logo{
	width: 30%;
}
.jumbotron{
  color:white;
  line-height: .75;
  padding: 2rem; !important
}
.navbar{
  padding: 2px;!important
}
.card, .panel, .well{
  box-shadow: 0 4px 8px 0 #afd9ee, 0 6px 20px 0 #afd9ee;  
}
.well{
  margin: 5px;
}
a.disabled {
   cursor:not-allowed;
   color: gray;
 }   
.profilepic{
  height: auto;
  width: 200px;
  border-radius: 50%;
}